/*全般*/

body {

    /*たてがき*/
    /*    IE*/
    writing-mode: tb-rl;
    /*Opera*/
    -o-writing-mode: vertical-rl;
    /*Chrome, Safari*/
    -webkit-writing-mode: vertical-rl;
    /*Firefox, Edge*/
    writing-mode: vertical-rl;
    /*縦書きの際に、すべてのテキストを正立に配置する*/
    text-orientation: upright;


    /*    <!-- おすすめの明朝体のCSS(font-family)設定 -->*/
    font-family: 游明朝, "Yu Mincho", YuMincho, "Hiragino Mincho ProN", "Hiragino Mincho Pro", HGS明朝E, メイリオ, Meiryo, serif;
    font-size: 16px;

    margin: auto;
    background: #fff;
    color: #070707;
    cursor: zoom-in;
}


/*
.pace-running .wrap {
    display: none;
}
*/


a {
    text-decoration: none;
    color: #070707;
    cursor: pointer;
}

a:hover {
    color: #818181;
    opacity: 0.8;
}

ul {
    list-style: none;
}

img {
    height: 100%;
}


.text-combine {
    text-combine-upright: all;
}


.sp {
    display: none;
}

.pc {
    display: block;
}

/*sidebar*/

#slideR {
    z-index: 99;
    cursor: pointer;
    position: fixed;
    top: 0;
    right: -140px;
    background: rgba(206, 206, 65, 0.46);
    width: 180px;
    height: 300px;
}


#slideR .nav-icon {
    position: absolute;
    right: 120px;
    top: 5%;
}

#slideR .nav-icon h1 {
    font-size: 20px;
    padding: 0 25px 0 0;
    /*    color: #000;*/

}

#slideR a {
    display: block;
    text-indent: 1em;
}

#slideR a:hover {
    color: red;
    opacity: 1.2;
}

#slideR ul {
    position: relative;
    padding: 10px 0 10px 10px;
    /*                padding-left: 40px;*/
    list-style: none;
}

#slideR ul li {
    font-weight: bold;
}

/*スライダー下*/


#slideB {
    z-index: 100;
    /*    cursor: pointer;*/
    position: fixed;
    right: 0;
    bottom: -30%;
    height: 30%;
}

#slideB .slide-innerB {
    position: relative;
    overflow: auto;
    background: rgb(219, 218, 218);

}

#slideB .slide-innerB section {
    padding: 20px;
    font-size: 15px;
}

#slideB .slide-innerB section p {
    font-weight: bold;

}

#slideB .slide-innerB section p a {
    color: red;
}

#slideB .slide-innerB a:hover {
    color: red;
    opacity: 1.2;
}


.header_01,
.footer {


    /*    IE*/
    writing-mode: horizontal-tb;
    /*Opera*/
    -o-writing-mode: horizontal-tb;
    /*Chrome, Safari*/
    -webkit-writing-mode: horizontal-tb;
    /*Firefox, Edge*/
    writing-mode: horizontal-tb;

    /*    z-index: 100;*/
    width: 100%;
    position: fixed;
    /*    top: 0;*/
    left: 0;
    height: 20px;
    color: #000;
    text-align: center;
}


.header_01 {
    top: 0;

}

.footer {
    bottom: 0;
}

.footer_copy {
    color: #000;
    text-align: center;
    font-size: 12px;
    font-size: 12px;
}

#nav {
    list-style: none;
    display: flex;
    background: rgba(132, 121, 121, 0.06);
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
}

#nav li {
    text-indent: 1em;
    cursor: pointer;
    text-indent: 5em;

}

#nav li:first-child {
    text-indent: 4em;

}


#nav li a {
    color: #000;
}

.section01,
.section02,
.section03,
.section04 {
    overflow: hidden;
    max-height: 100%;
}
